
{   
    experimental_http3
    email 370732889@qq.com
}
# 主站点
happysooner.com {
    log {
       output file /var/log/happysooner.log {
		    roll_size 1gb
		    roll_keep 5
	    }
    }
    reverse_proxy / http://0.0.0.0:3001 
    reverse_proxy /api http://0.0.0.0:8088 
    reverse_proxy /resume/* http://0.0.0.0:2777
}

# 容器管理平台
portainer.happysooner.com {
    reverse_proxy / http://0.0.0.0:9000 
}

# consul
consul.happysooner.com {
    reverse_proxy / http://0.0.0.0:8500 
}

# 乞讨平台
hipoor.com {
    log {
       output file /var/log/hipoor.log {
		    roll_size 1gb
		    roll_keep 5
	    }
    }
    reverse_proxy / http://0.0.0.0:2666 
}

# 消息队列
nsq.happysooner.com {
    reverse_proxy / http://0.0.0.0:4171 
}

